{% extends "imagine/layout.html" %} {% load static %} {% block body %}
<div class="container mt-5 pt-5">
  <p class="mt-">Describe what you want to see</p>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Enter prompt here..."
      id="prompt"
    />
    <button class="btn btn-outline-secondary" type="button" id="generate">
      Generate
    </button>
  </div>

  <div class="d-flex justify-content-center">
    <div
      class="spinner-border"
      style="width: 5rem; height: 5rem; display: none"
      role="status"
    ></div>
  </div>

  <img
    class="mt-5"
    id="image-generated"
    src="{% static 'imagine/sunset.png' %}"
  />
</div>
{% endblock %} {% block script %}
<script src="{% static 'imagine/generate.js' %}"></script>
{% endblock %}
