{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Imagine{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link href="{% static 'imagine/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'imagine/darkMode.js' %}"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg sticky-top" id="navbar" >
          <div class="container-fluid">
            <img src="{% static 'imagine/logo-white1.png' %}" style="max-height: 15px; margin-left:10px" class="dark-logo"/>
            <img src="{% static 'imagine/logo-black1.png' %}" style="max-height: 15px; margin-left:10px" class="light-logo active"/>
            <button 
              class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarText" 
              aria-controls="navbarText" 
              aria-expanded="false" 
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{%url 'generate' %}">Create</a>
                </li>
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{%url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{%url 'prompts' %}">Prompts</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{%url 'profile' username=request.user%}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{%url 'register' %}">Register</a>
                </li>
                {% endif %}
                
                <li class="nav-item mx-4">
                  <a class="nav-link" href="{%url 'logout' %}">Logout</a>
                </li>
                
              </ul>
              
              <i class="bi bi-moon-stars-fill" id="darkModeBtn" style="width:35px"></i>
            </div>
            
          </div>
        </nav>

        <div class="content">{% block body %} {% endblock %}</div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>

      </body>
</html>
