{% extends "imagine/layout.html" %} {% load static %} {% block body %}
<div class="mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card bio-card p-4">
    <div
      class="image d-flex flex-column justify-content-center align-items-center"
    >
      <img src="{{ view_profile.image.url }}" height="100" width="100" />

      <span class="fs-3 fw-semibold mt-3"
        >{{ view_user.first_name}} {{view_user.last_name }}</span
      >
      <span class="fw-light">@{{ view_user.username }}</span>
      <div
        class="d-flex flex-row justify-content-center align-items-center my-4"
      >
        <div class="d-flex flex-column align-items-center">
          <span class="mx-5">0</span>
          <span class="fw-light">Posts</span>
        </div>
        <div class="d-flex flex-column align-items-center mx-3">
          <span class="mx-5">0</span>
          <span class="fw-light">Followers</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <span class="mx-5">0</span>
          <span class="fw-light">Following</span>
        </div>
      </div>
      {% if view_user == request.user %}
      <a
        class="btn btn-dark edit-profile-btn my-3"
        href="{% url 'edit_profile' %}"
        role="button"
        >Edit profile</a
      >

      {% endif %}
      <div class="text mt-3">
        {% if view_profile.bio %}
        <p>{{ view_profile.bio }}</p>
        {% else %}
        <p>Write something about yourself</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<h1 style="text-align: center">User Posts</h1>
<div class="grid">
  <div class="grid-sizer"></div>
  {% for post in posts %}
  <div class="grid-item">
    <a href="{{ post.image.url }}" data-lightbox="lightbox">
      <img src="{{ post.image.url }}" alt="" />
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block script %}
<script src="{% static 'imagine/gallery.js' %}"></script>
<script
  type="module"
  src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"
></script>
<script
  type="module"
  src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
></script>
<script src="{% static 'imagine/lightbox-plus-jquery.min.js' %}"></script>
{% endblock %}
