@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.index {
  background-image: linear-gradient(
    109.6deg,
    rgba(253, 199, 141, 1) 11.3%,
    rgba(249, 143, 253, 1) 100.2%
  );
  height: 100vh;
}

.dark-logo,
.light-logo {
  display: none;
}

.dark-logo.active,
.light-logo.active {
  display: block;
}

.login-card,
.register-card {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 2rem;
}

.login-card input,
.register-card input {
  border-radius: 2em;
  border: none;
}

.login-card .index-buttons,
.register-card .index-buttons {
  margin-top: 25px;
  background-color: white;
  color: black;
}

.login-card .index-buttons:hover,
.register-card .index-buttons:hover {
  background-color: black;
  color: white;
}

.login-title,
.register-title {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
}

.section1 {
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
}

.section1 div {
  margin-top: 20px;
}

.logo {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 100px;
  color: #fff;
}

.index-buttons {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  color: black;
  font-family: "outfit", sans-serif;
  font-size: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.index-buttons:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.index-intro {
  font-size: 20px;
}

.edit-profile-btn {
  width: 150px;
}

/*
.login-body {
  padding: 0;
  margin: 0;
  padding: 40px;
  height: 100vh;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.login-header {
  padding-bottom: 20px;
}

.login-form {
  max-width: 60vw;
}

.login-form .form-item {
  display: flex;
  flex-direction: column;
}

.form-submit-button {
  width: 100%;
  height: 3rem;
  margin: 8px 0;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
}

.register-container {
  width: 50vw;
  padding-top: 50px;
} */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid {
  width: 80vw;
  text-align: center;
  margin: 2rem auto;
}

.grid-item img {
  width: 100%;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
}

.grid-item img:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.gallery-btn {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.bio-card {
  border: none;
  width: 50vw;
}

.card-prompt {
  font-size: 18px;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.btn {
  margin-right: 1rem;
}

.cover {
  width: 100%;
  background-color: #555;
  height: 200px;
  overflow: hidden;
}

.cover img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.modal-image {
  border: 5px solid #fff;
}

.generate-container {
  width: 50vw;
}

#image-generated {
  width: 512px;
  /* height: 512px; */
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
}

.modal-content {
  border-radius: 0px;
}

.search-top {
  position: fixed;
  top: 5;
  /* background-color: white; */
  z-index: 1;
  width: 100vw;
}

.searchbar {
  width: 70%;
  margin: 0 auto;
  /* justify-content: center; */
}

.search-bottom {
  margin-top: 120px;
  height: 78vh;
  overflow-y: scroll;
  padding: 0 !important;
}

@media screen and (max-width: 1400px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .generate-container {
    width: 75vw;
  }

  .searchbar {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .generate-container {
    width: 100vw;
  }

  .searchbar {
    width: 100%;
  }
}
